@media (orientation: landscape) and (min-width: 600){
    form {
        position: absolute;
        max-width: 600px;
        min-width: none;
        margin:auto;
        top: 0;
        height:auto;
    }
}
@media (orientation: landscape) and (max-width: 599px){
    form {
        position:absolute;
        max-width: 100%;
        min-width: none;
        margin:auto;
    }
    }







    

@media (orientation: portrait) and (min-width: 600){
    form {
        position: absolute;
        max-width: 600px;
        min-width: none;
        margin:auto;
        top: 0;
        height:auto;
    }
}

@media (orientation: portrait) and (max-width: 599){
    form {
        position:absolute;
        max-width: 100%;
        min-width: none;
        margin:auto;

    }
}
